docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)'

conda.enabled = false

process {
  withName: CLUSTER_SKANI        { container = 'tethys-nf-build:latest' }
  withName: PRODIGAL_PYRO        { container = 'tethys-nf-build:latest' }
  withName: KOFAM_SCAN           { container = 'tethys-nf-build:latest' }
  withName: CONCAT_KOFAM         { container = 'tethys-nf-build:latest' }
  withName: BUILD_MANIFEST       { container = 'tethys-nf-build:latest' }
  withName: VERIFY_KOFAM_DB      { container = 'tethys-nf-build:latest' }

  withName: TETHYS_PREPROCESS    { container = 'tethys-nf-tethys:latest' }
  withName: TETHYS_INDEX         { container = 'tethys-nf-tethys:latest' }
  withName: PROFILE_TAX          { container = 'tethys-nf-tethys:latest' }
  withName: PROFILE_FUNC         { container = 'tethys-nf-tethys:latest' }
  withName: MERGE_ARTIFACTS      { container = 'tethys-nf-tethys:latest' }

  withName: VERIFY_CHECKM2_DB    { container = 'tethys-nf-checkm2:latest' }
  withName: CHECKM2              { container = 'tethys-nf-checkm2:latest' }
}
